<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>

<connectionStrings><add name="GSB_EQ3Entities" connectionString="metadata=res://*/GSB_EQ3.csdl|res://*/GSB_EQ3.ssdl|res://*/GSB_EQ3.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.0.50;Initial Catalog=GSB2_EQ3;Persist Security Info=True;User ID=SQLOulai;Password=oceane26;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>